@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 :root{
   --background: #272525;
   --gray: #808080;
   --light: #ebebeb;
   --purple: #D490ED;
  }

 .enable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 10px turquoise;
    border-radius: 5px;
    background-color: turquoise;
  }

.enable:hover{
    box-shadow: 0 0 10px 10px var(--gray);
    transform: translateY(-3px);
}

.disable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    background-color: white;
  } 

