@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
  }
  
  :root{
   --background: #272525;
   --gray: #808080;
   --light: #ebebeb;
   --purple: #D490ED;
  }

  .Bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10vh;
  }

  .Bottom button{
    background-color: var(--gray);
    font-family: "poppins", sans-serif;
    font-weight: bold;
    font-size: medium;
    min-width: 20%;
    width: 20vw;
    height: 7vh;
  }

  .Bottom button:hover{
    transform: translateY(-3px);
    background-color: turquoise;
    color: var(--background);
  }
